
<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:type", :content => :website %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com" %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => "The art of Holly Morningstar" %>
<% end -%>

<div class="row-fluid">
<div class="page-header">
    <h1>ArchaicSmiles: <small>The Art of Holly Morningstar</small></h1>
</div>
<%= render :partial => "partials/art_carousel", :locals => { :artworks => @artworks } %>

<% if admin? -%>
  <%= link_to 'Edit', edit_article_path(@artist_statement) -%>
<% end -%>

<% if @artist_statement -%>
    <%= @artist_statement.content.html_safe -%>
<% end -%>
</div>
<div class="row">
<iframe id="facebook_like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.archaicsmiles.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>"
</div>
