
<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:type", :content => :website %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com" %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => "The art of Holly Morningstar" %>
<% end -%>


<% banner = Banner.new('magic_lanterns') -%>
<%= banner.tag('banner-image') -%>

<hr></ hr>
  
<div class="row">
  <div class="large-4 columns main-tri-column">
    <div class='row'>

      <div class='small-12 medium-5 large-12 columns'>
        <div id='newest-tutorial'>
          <img src="http://placehold.it/400x300&text=[img]" />
        </div>
      </div>

      <div class='small-12 medium-7 large-12 columns'>
        <h2>Latest Video.</h2>
        <h4 class='subheader'>Something</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
  </div>
  
  <div class="large-4 columns main-tri-column">
    <div class='row'>
      <div class='small-12 medium-5 large-12 columns'>
        <div id='newest-artwork'>
          <%= image_tag @artwork.image.url(:medium), :alt => 'new artwork' -%>
        </div>
      </div>
      <div class='small-12 medium-7 large-12 columns'>
        <h2>Newest Artwork</h2>
        <h4 class='subheader'><%= @artwork.title -%></h4>
        <p><%= @artwork.description -%></p>
        <p>Browse all of Holly's <%= link_to 'artwork', artworks_path -%> in her gallery.
      </div>
    </div>
  </div>
  
  <div class="large-4 columns main-tri-column">
    <div class='row'>
      <div class='small-12 medium-5 large-12 columns'>
        <div id='next-convention' class='left'>
          <img src="https://s3.amazonaws.com/ArchaicSmiles/convention/froliconbadge.jpg" />
        </div>
      </div>

      <div class='small-12 medium-7 large-12 columns'>
        <h2>Next convention:</h2>
        <h4 class='subheader'><%= @next_show.name -%></h4>
        <p><%= @next_show.description -%></p>
        <p>See all upcoming <%= link_to 'conventions', schedule_path -%>.</p>
      </div>
    </div>
  </div>

</div>
    
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Accepting commissions!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>If you would like to commission me for any art, shoot me an email with your idea. SciFi, steampunk, fantasy, and critters are my speciality.</p>
          </div>
          <div class="large-3 columns">
            <a href="mailto:archaicsmiles@gail.com"  class="radius button right">
                Contact Me <i class='fi-heart'></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>
</div>
 
<div class="row">

  <iframe id="facebook_like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.archaicsmiles.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>"
</div>
