
<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:type", :content => :website %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com" %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => "The art of Holly Morningstar" %>
<% end -%>

<div class="row-fluid">
<div class="page-header">
    <h1>ArchaicSmiles: <small>The Art of Holly Morningstar</small></h1>
</div>
<%= render :partial => "partials/art_carousel", :locals => { :artworks => @artworks } %>

<p>Throughout my life, the creation of art has been so many things to me. I was raised by my grandmother from the time I was two weeks old. Some of my earliest, fondest memories involve crayons and pages from coloring books. I’d pick my favorites, the ones that best fit my mood at the time, and I’d color them in what I thought at the time to be a very calculated fashion. I loved the feeling of the waxy pigments on paper and the way the colors would get under my nails. On my masterpieces, I’d write messages of love as best I could, and I’d give them to my grandma who never failed to tell me what a great job I did.</p>

<p>As I matured, so did my art. I abandoned literal words in my pieces, and I began to create my own characters who were always women and always represented various emotions I was feeling that I didn’t understand. My gift-giving rituals continued, and I gave around 80% of everything I made to my grandma. What I wasn’t giving to her, I gave to my brothers, aunt, friends, acquaintances, etc. Art has always been a gift from me to someone else. A way of bringing a smile to someone else’s heart. A way of saying, “Hello.”</p>

<p>While many could say my work is autobiographical, I like to call it, “emotionally universal”.  Through my drawings and paintings, I am to give “flesh” to emotions we as one people may not have words to describe. I believe our emotions are what make us human, and through them we are all connected. Emotions are our Red Thread. Though my work features and often seeks to empower women, I also celebrate and embrace gender neutrality by creating androgynous figures in addition to feminine ones.</p>


</div>
<div class="row">
<iframe id="facebook_like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.archaicsmiles.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>"
</div>
