
<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:type", :content => :website %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com" %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => "The art of Holly Morningstar" %>
<% end -%>

<div class="row-fluid">
<div class="page-header">
    <h1>ArchaicSmiles: <small>The Art of Holly Morningstar</small></h1>
</div>
<%= render :partial => "partials/art_carousel", :locals => { :artworks => @artworks } %>

<% if admin? -%>
  <%= link_to 'Edit', edit_article_path(@artist_statement) -%>
<% end -%>

<% if @artist_statement -%>
    <%= h @artist_statement.content -%>
<% else -%>
<p>When I was ten years old, I received my first radio cassette player for Christmas. I remember spending a lot of time listening to various stations and recording my favorite songs as they would pop up. I recorded everything from Alice in Chains to Cher. Since then, I’ve made mixtapes and playlists for the most mundane and excellent moments of my life.. selecting songs from a wide variety of genres, artists, and languages.<p>

<p>My artwork is essentially a personal, visual mixtape of emotions, events, and pop culture interpretations. It is typically grounded in portraiture that extends into the realms of fantasy and science fiction. I enjoy creating portraits that give “flesh” to the moments of my life and the world around me. My work is a visual diary that is always leading me back to myself regardless of where I go, who I meet, and what happens around me.</p>

<p>Moreover, it is my way of saying, “Hello,” to a world of people I haven’t met and may never meet. Because emotions, facial expressions, and many symbols are universal, it is my hope that my work may bring comfort when it would be helpful, and that it may be thought-provoking when necessary.</p>
<% end -%>
</div>
<div class="row">
<iframe id="facebook_like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.archaicsmiles.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>"
</div>
