<% if @order.prints.size > 0 -%>
    <div style="margin-bottom:50px;">
        <div class="page-header">
            <h1>Artwork</h1>
        </div>
    </div>

    <ul class="thumbnails">
    <% @order.print_orders.each do |print_order| -%>
        <% @print_order = print_order -%>
        <% @print = print_order.print -%>
        <li class="span3">
            <div class="thumbnail checkout-thumbnail" >
                <%= image_tag @print.artwork.image.url(:thumbnail) -%>
                <% dt_style = "width:60px;" 
                   dd_style = "margin-left:70px" -%>
                <div class="caption">
                    <h4><%= @print.artwork.title -%></h4>
                    <dl class="dl-horizontal">
                        <dt style="<%= dt_style -%>">Size</dt><dd style="<%= dd_style -%>"><%= @print.dimensions -%></dd>
                        <dt style="<%= dt_style -%>">Type</dt><dd style="<%= dd_style -%>"><%= @print.print_type-%></dd>
                        <dt style="<%= dt_style -%>">Framing</dt><dd style="<%= dd_style -%>"><%= render 'framing_display' -%></dd>
                        <dt style="<%= dt_style -%>">Price</dt><dd style="<%= dd_style -%>"><%= number_to_currency @print_order.price -%></dd>
                    </dl>
                    <%= link_to 'Remove', remove_path(@print), :class => 'btn btn-danger' -%>
                </div>
            </div> 
        </li>
    <% end -%>
    </ul>
        
<% end -%>

