<%= content_for :javascript do 
  javascript_include_tag "prints" 
end -%>

<h1><%= @artwork.title -%></h1>

<div>
  <div id='photopaper-prints'>
    <% @artwork.prints.photopapers.each do |photopaper| -%>
    <% end -%>
  </div>
  <p><%= link_to_function "add photopaper", "build_form('photopaper')" -%></p>
</div>

<div>
  <div id='canvas-prints'>
    <% @artwork.prints.canvas.each do |canvas| -%>
    <% end -%>
  </div>
  <p><%= link_to_function "add canvas", "build_form('canvas')" -%></p>
</div>

<div>
  <div id='original-prints'>
    <% @artwork.original -%>
  </div>
  <p><%= link_to_function "add original", "build_form('original')" -%></p>
</div>

<%= content_tag :div, :id => 'json-form', :data => 
    { "json-form-url" => new_artwork_print_path(:format => :json), "submit-url" => artwork_prints_path } do -%>
  <form id='print-form'>
  </form>
<% end -%>
