<%= form_for @artwork, :html => {:class => "form-horizontal"} do |f| -%>
    <fieldset>
    <div class="control-group">
        <%= f.label :title, :class => "control-label" -%>
        <div class="controls"><%= f.text_field :title -%></div>
    </div>
    <div class="control-group">
        <%= f.label :description, :class => "control-label" -%>
        <div class="controls"><%= f.text_field :description -%></div>
    </div>
    <div class="control-group">
        <%= f.label :image, :class => "control-label" -%>
        <div class="controls"><%= f.file_field :image -%></div>
    </div>
    <div class="control-group">
        <%= f.label :tags, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :tags, @tags -%></div>
    </div>
    <div class="control-group">
        <%= f.label :mediums, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :mediums, @medium -%></div>
    </div>

    <div class="control-group">
        <%= label_tag :small, :class => "control-label" -%>
        <div class="controls">
            <%= text_field_tag :small_size, @sizes[0] -%>
            <%= text_field_tag :small_price, @artwork.price_of(:photopaper, @sizes[0]) -%><p class="help-inline">photopaper</p>
            <%= text_field_tag :small_canvas_price, @artwork.price_of(:canvas, @sizes[0]) -%><p class="help-inline">canvas</p>
        </div>
    </div>
    <table class="table table-condensed" style="width:5em">
        <thead>
        <tr>
            <th></th>
            <th>Size</th>
            <th>Print Price</th>
            <th>Canvas Price</th>
        </tr>
        </thead>
        <tbody>
            <% if @sizes  # editing existing -%>
                <%= price_sizes "small", @sizes[0], @artwork.price_of(:photopaper, @sizes[0]), @artwork.price_of(:canvas, @sizes[0]) -%>
                <%= price_sizes "medium", @sizes[2], @artwork.price_of(:photopaper, @sizes[1]), @artwork.price_of(:canvas, @sizes[1]) -%>
                <%= price_sizes "large", @sizes[2], @artwork.price_of(:photopaper, @sizes[2]), @artwork.price_of(:canvas, @sizes[2]) -%>
                <%= price_sizes "original", '', @artwork.original.price, '' -%>
            <% else # creating new -%>
                <%= price_sizes "small",    '5x7',  '5', '25' -%>
                <%= price_sizes "medium",   '8x10', '15', '50' -%>
                <%= price_sizes "large",    '12x18','30', '80' -%>
                <%= price_sizes "original", '',     '800', '' -%>
            <% end -%>
        </tbody>
    </table>
    <%= f.submit "Create" -%>
    </fieldset>
<% end -%>
