<%= form_for @artwork, :html => {:class => "form-horizontal"} do |f| -%>
    <fieldset>
    <div class="control-group">
        <%= f.label :title, :class => "control-label" -%>
        <div class="controls"><%= f.text_field :title, :class => "span5" -%></div>
    </div>

    <div class="control-group">
        <%= f.label :description, :class => "control-label" -%>
        <div class="controls"><%= f.text_area :description, :rows => 5, :class => "span5" -%></div>
    </div>

    <div class="control-group">
        <%= f.label :image, :class => "control-label" -%>
        <div class="controls"><%= f.file_field :image -%></div>
    </div>

    <div class="control-group">
        <%= f.label :tags, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :tags, @tags -%></div>
    </div>

    <div class="control-group">
        <%= f.label :mediums, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :mediums, @medium -%></div>
    </div>

    <div class="control-group">
        <%= label_tag :original_size, "Size of Original", :class => "control-label" -%>
        <div class="controls">
            <%= text_field_tag :original_size, @artwork.original ? @artwork.original.dimensions : "11x14" , :disabled => @artwork.original != nil, :class => "span2" -%>
            <p class="help-inline">This creates prints of the correct size from the ratio.</p>
        </div>
    </div>

    <div class="control-group">
        <%= label_tag :is_sold_out, "NFS?", :class => "control-label" -%>
        <div class="controls">
            <%= check_box_tag :is_sold_out, "yes", @artwork.original &&@artwork.original.is_sold_out -%>
        </div>
    </div>

    <div class="control-group">
        <%= label_tag :original_price, "Price of Original", :class => "control-label" -%>
        <div class="controls">
            <%= text_field_tag :original_price, @artwork.original ? number_to_currency(@artwork.original.price)[1..-1] : "", :class => "span2" -%>
            <p class="help-inline">Price in dollars.</p>
        </div>
    </div>

    <div class="control-group">
        <%= label_tag :enable_sizes, "Enable Sizes", :class => "control-label" -%>

        <%= render :partial => "print_size_field", :locals => { :size_abbr => 's', :size => 'small', :label => 'Small' } -%>
        <%= render :partial => "print_size_field", :locals => { :size_abbr => 'm', :size => 'medium', :label => 'Medium'  } -%>
        <%= render :partial => "print_size_field", :locals => { :size_abbr => 'l', :size => 'large', :label => "Large" } -%>
        <%= render :partial => "print_size_field", :locals => { :size_abbr => 'xl', :size => 'extra large', :label => "Extra Large (16x20 or 20x30 depending upon ratio)" } -%>

    </div>

    <div class="form-actions">
        <%= f.submit "Finish", :class => "btn btn-primary" -%>
    </div>
    </fieldset>
<% end -%>
