<% if @artwork.errors.any? -%>
  <div id='model-errors' class='alert alert-error'>
    <ul>
    <% @artwork.errors.each do |error| -%>
      <li><%= error -%></li>
    <% end -%>
    <ul>
  </div>
<% end -%>

<% if not @artwork.new_record? -%>
    <%= link_to 'Edit purchasing optins', artwork_prints_path(@artwork), :class => 'btn' -%>
<% end -%>

<%= form_for @artwork, :html => {:class => "form-horizontal"} do |f| -%>
    <fieldset>
    <div class="control-group">
        <%= f.label :title, :class => "control-label" -%>
        <div class="controls"><%= f.text_field :title, :class => "span5" -%></div>
    </div>

    <div class="control-group">
        <%= f.label :description, :class => "control-label" -%>
        <div class="controls"><%= f.text_area :description, :rows => 5, :class => "span5" -%></div>
    </div>

    <div class="control-group">
        <%= f.label :image, :class => "control-label" -%>
        <div class="controls"><%= f.file_field :image -%></div>
    </div>

    <div class="control-group">
        <%= f.label :tags, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :tags, @tags -%></div>
    </div>

    <div class="control-group">
        <%= f.label :mediums, :class => "control-label" -%>
        <div class="controls"><%= text_field_tag :mediums, @medium -%></div>
    </div>

    <div class="form-actions">
        <%= f.submit "Finish", :class => "btn btn-primary" -%>
    </div>
    </fieldset>
<% end -%>
