<% if prints.size == 0 -%>
    <div style="border: 1px solid rgb(221,221,221);border-top:0px;padding-top:2em;">
    <p style="margin:2em;margin-top:0px"> No canvas prints are available for this artwork. </p>
<% else -%>
    <div style="border: 1px solid rgb(221,221,221);border-top:0px; border-bottom: 0px;padding-top:2em;">
    <%= form_tag(purchase_path, :method => :post, :class => "form-horizontal") do %>
        <input id="transaction_type" type="hidden" value="artwork" name="transaction_type">
        <input id="material" type="hidden" value="<%= prints[0].material -%>" name="material">
        <input id="item_id" type="hidden" value="<%= prints[0].artwork.id -%>" name="item_id">

        <% enabled = true -%>
        <% if prints[0].original? -%>
            <% original = prints[0] -%>
            <% if original.is_sold_out? -%>
                <% enabled = false -%>
                <center>
                Sold
                </center>
            <% elsif original.is_on_show? -%>
                <% enabled = false -%>
                <p>Currently not available for purchase while it is being shown.</p>
            <% end -%>
            <div class="control-group">
                <%= label_tag :sizes, "Size", :class=> "control-label" -%>
                <div class="controls">
                    <label class="radiobutton">
                        <%= radio_button_tag :original, :original, false, :disabled => !enabled -%> 
                        <%= original.dimensions -%>
                    </label>
                </div>
            </div>
        <% else -%>
            <% # Size selection -%>
            <div class="control-group">
                <%= label_tag :sizes, "Sizes", :class => "control-label print-order-label", :style => "width:100px;" -%>
                <div class="controls print-order-controls" style="margin-left:120px">
                <% prints.each do |print| -%>
                        <label class="radiobutton">
                            <% # enable the small size as being selected (4x6 or 5x7) -%>
                            <%= radio_button_tag :size, print.dimensions, print.size_name == "small" || print.original?, :class => "print_#{print.material}_#{print.dimensions}"  %>
                            <%= print.dimensions -%>
                        </label>
                <% end -%>
                </div>
            </div>

            <% # Framing for standard prints -%>
            <% if prints[0].material == "photopaper" -%>
                <div class="control-group">
                    <%= label_tag :framing, "Framing", :class => "control-label print-order-label", :style => "width:100px;" -%>
                    <div class="controls print-order-controls" style="margin-left:120px">
                        <label class="radiobutton">
                        <%= radio_button_tag "framing", "no_frame", true, :class => "framing_photopaper_noframe" -%>
                            No Frame
                        </label>

                        <label class="radiobutton">
                        <%= radio_button_tag "framing", "075", false, :class => "framing_photopaper_075" -%>
                            0.75" Thick
                        </label>

                        <label class="radiobutton">
                        <%= radio_button_tag "framing", "200", false, :class => "framing_photopaper_200" -%>
                            2.00" Thick
                        </label>
                    </div>
                </div>
            <% end -%>
        <% end -%> 


        <% # Purchase button and totals amount -%>
        <div class='form-actions' style="padding-left:120px;">
            <p>Total: <span id="<%= "#{prints[0].material}_total_amount" -%>"><%= number_to_currency prints[0].price  -%></span></p>
            <% if not prints[0].is_sold_out? -%>
            <%=  submit_tag "Add to Cart", :disabled => ! enabled, :class => "btn btn-primary" -%>
            <% end -%>
        </div>

    <% end -%>

    <%= render :partial => 'price_data', :locals => { :prints => prints } -%>

<% end -%>
</div>


