<div class='row'>
  <div class="header">
    <h1 class='left' id='page-title'><%= artworks.category_title -%></h1>
  </div>
</div>
<hr class='header-hr'></hr>

<div class='row'>
  <div class='medium-2 columns hide-for-small'>
    <ul id='gallery-filters' class='side-nav'>
      <% artworks.categories.each do |category| -%>
        <li>
          <%= artworks.filter_link(category) -%>
        </li>
      <% end -%>
    </ul>
  </div>
    
  <div class='small-12 medium-10 columns end'>
    <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-6" >
      <% artworks.each do |artwork| -%>
        <li class='artwork-cell'>
          <%= link_to(artwork) do -%>
            <%= image_tag artwork.image.url(:thumbnail), :class => 'th', :alt => artwork.title, :title => artwork.title -%>
          <% end -%>
          <%= artwork.admin_controls -%>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
