<div class="container">
    <div class="row-fluid">
    <div class="span8">
        <% if @media -%>
            <div class="page-header">
                <h1>Gallery <small><%= @media.name -%></small></h1>
            </div>
        <% elsif @tag -%>
            <div class="page-header">
                <h1>Gallery <small><%= @tag.name -%></small></h1>
            </div>
        <% else -%>
            <div class="page-header">
                <h1>Gallery</h1>
            </div>
        <% end -%>
        <ul class="thumbnails">
        <% @artworks.each do |artwork| -%>
            <%= render :partial => 'partials/artwork_thumbnail', :locals => { :artwork => artwork } -%>
        <% end -%>
        </ul>
    </div>
    <div class="span4">
        <div class="alert alert-success">
            <h3 class="muted">Mediums</h3>
            <%= render :partial => 'partials/mediums', :locals => {:medium => Medium.all} -%>
        </div>
        <div class="alert alert-success">
            <h3 class="muted">Tags</h3>
            <%= render :partial => 'partials/tags', :locals => {:tags => Tag.all} -%>
        </div>
    </div>
    </div>
</div>
