<%= content_for :javascript do 
  javascript_include_tag "artwork" 
end -%>

<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => @artwork.title %>
    <%= tag :meta, :property => "og:type", :content => :article %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com#{url_for(@artwork)}" %>
    <%= tag :meta, :property => "og:image", :content => @artwork.image.url(:thumbnail) %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => @artwork.description %>
<% end -%>

<div class="container">
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid"><span><h1><%= @artwork.title -%><small><%= admin_edit(@artwork) -%></small></h1>

        <%= render :partial => 'partials/mediums', :locals => {:medium => @artwork.medium} -%>
        </div>
        <%= image_tag @artwork.image.url -%>
        <div class="row-fluid">
            <div class="well span8">
                <h3>Description</h3><p><%= @artwork.description -%></p> 
            </div>
            <div class="well span4">
                <%= render :partial => 'partials/tags', :locals => {:tags => @artwork.tags} -%>
            </div>
        </div>
        <div class="row">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.archaicsmiles.com<%= CGI.escape(url_for(@artwork)) -%>&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
        </div>
    </div>
    <div class="span4">
        <%= render 'prices'-%>
    </div>
</div>
</div>
