<%= content_for :javascript do 
  javascript_include_tag "artwork" 
end -%>

<%= content_for :og do -%>
    <%= tag :meta, :property => "og:title", :content => artwork.title %>
    <%= tag :meta, :property => "og:type", :content => :article %>
    <%= tag :meta, :property => "og:url", :content => "http://www.archaicsmiles.com#{url_for(artwork)}" %>
    <%= tag :meta, :property => "og:image", :content => artwork.image.url(:thumbnail) %>
    <%= tag :meta, :property => "og:site_name", :content => "ArchaicSmiles" %>
    <%= tag :meta, :property => "og:description", :content => artwork.description %>
<% end -%>

<%= artwork.header -%>

<div class="row">
  <div class="small-12 columns center">
  <%= image_tag artwork.image.url, :id => 'artwork-image', :class => 'th' -%>
  </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3>Description</h3>
    <div style="padding-left:1em;">
      <blockquote><%= best_in_place_if artwork.editable?, artwork, :description, :as => :textarea, :ok_button => 'Save changes', :cancel_button => 'Cancel' -%></blockquote>
    </div>
  </div> 
</div>
<div class="row">
  <%= artwork.facebook_like -%>
</div>

<div class="row">
  <%= artwork.edit_link_if_admin -%>
  <%= artwork.delete_link_if_admin -%>
  <div class="right">
    <% if artwork.editable? -%>
      <span class='button'>
        <%= best_in_place artwork, :featured, :as => :checkbox, :collection => [ 'unfeatured', 'featured' ] %>
      </span>
      <span class='button'>
        <%= best_in_place artwork, :fanart, :as => :checkbox, :collection => [ 'not fanart', 'fanart' ] %>
      </span>
    <% end -%>
  </div>
</div>
