<% if admin? -%>
<div class="navbar navbar-fixed-top admin-navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav" style="float:right;">
                <li><%= link_to 'Artwork', new_artwork_path -%></li>
                <li class="divider-vertical" style="margin:0px"></li>
                <li><%= link_to 'Show', new_show_path -%></li>
                <li class="divider-vertical" style="margin:0px"></li>
                <li><%= link_to 'Class', new_lesson_path -%></li>
                <li class="divider-vertical" style="margin:0px"></li>
                <li><%= link_to 'Inventory', inventory_path -%></li>
                <li class="divider-vertical" style="margin:0px"></li>
                <li><%= link_to 'Default Prices', price_edit_path -%></li>
                <li class="divider-vertical" style="margin:0px"></li>
                <li><%= link_to 'Reports', '#' -%> </li>
            </ul>
        </div>
    </div>
</div>

<% end -%>

