<div class="fixed">
  <nav id='main-nav' class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to 'ArchaicSmiles', home_path -%>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
      </li>
    </ul>
  
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li>
          <%= link_to "Gallery", artworks_path -%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "News", news_path -%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Schedule", schedule_path -%></li>
        </li>
      </ul>
  
      <ul class="right">
        <% if current_user -%>
          <li id='admin-dashboard-button'></li>
          <li><%= link_to "Logout", logout_path, :id => 'logout-link' -%></li>
        <% else -%>
          <li class='has-dropdown' id='login-dropdown'>
            <a href='#'>Login</a>
            <ul class='dropdown'>
              <%= form_for(UserSession.new) do |f| -%>
                <%= hidden_field_tag(:coming_from, fullpath) -%>
                <li class='has-form'><%= f.text_field(:username, :label => false, :placeholder => :username) -%></li>
                <li class='has-form'><%= f.password_field(:password, :label => false, :placeholder => :password) -%></li>
                <li class='has-form'><%= f.submit('Login', :style => 'width:100%') -%></li>
              <% end -%>
            </ul>
          </li>
          <li class="divider"></li>
          <li><%= link_to "Register", new_user_path -%></li>
        <% end -%>
    </section>
  </nav>
</div>

