<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to 'ArchaicSmiles', home_path -%>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
      </li>
    </ul>
  
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li>
          <%= link_to "Gallery", artworks_path -%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "News", news_path -%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Classes", lessons_path -%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Schedule", schedule_path -%></li>
        </li>
      </ul>
  
      <ul class="right">
        <% if current_user -%>
          <li><%= link_to "Logout", logout_path -%></li>
        <% else -%>
          <li><%= link_to "Login", login_path -%></li>
          <li class="divider"></li>
          <li><%= link_to "Register", new_user_path -%></li>
        <% end -%>
    </section>
  </nav>
</div>
<div id="subnav-container">
</div>

