
<% @tumbles.each do |tumble| -%>
    <div class='tumble'>
      <div class='right'>
        <%= tumble.date.to_date.strftime('%B %-d, %Y') -%>
      </div>
      <div class='content'>
        <% if tumble.type == "photo" -%>
            <p><img src="<%= tumble.photo_url -%>"><%= tumble.photo_caption.html_safe -%></p>
        <% elsif tumble.type == "regular" -%>
            <div class="page-header darker-bottom">
            <h3 ><%= tumble.regular_title -%></h3>
            </div>
            <p><%= tumble.regular_body.html_safe -%></p>
        <% end -%>
      </div>
    </div>
<% end -%>
