<%= form_for user, :html => { :id => 'user-registration' } do |f| -%>
  <%= user.render_form_errors -%>
  <% label_writer = HorizontalLabel.new(f) -%>

  <div class="row">
    <div class="small-form-container">
      <div class="row">
        <%= label_writer.tag(:username) do -%>
          <%= f.text_field :username, :label => false -%>
        <% end -%>
      </div>

      <div class="row">
        <%= label_writer.tag(:email) do -%>  
          <%= f.text_field :email, :label => false -%>
        <% end -%>
      </div>

      <div class="row">
        <%= label_writer.tag(:password) do -%>
          <%= f.password_field :password, :label => false -%>
        <% end -%>
      </div>

      <div class="row">
        <%= label_writer.tag(:confirmation) do -%>
          <%= f.password_field :password_confirmation, :label => false -%>
        <% end -%>
      </div>

      <div class="row">
        <%= f.submit "Register", :class => 'button' -%>
      </div>
    </div>
  </div>
<% end -%>
