<%= Header.new(:title => 'Upcoming Events', :subheader => '') -%>

<div id='upcoming-events' class="row">
  <%= render :partial => 'upcoming', :locals => { :show => @shows[0], :styling => '' } -%>
    <%= render :partial => 'upcoming', :locals => { :show => @shows[1], :styling => 'left-border' } -%>
  <div class="hide-for-medium-only">
    <%= render :partial => 'upcoming', :locals => { :show => @shows[2], :styling => 'left-border' } -%>
  </div>
</div>


<div class="row">
<h3>All Events</h3>
  <table id='all-events'>
  <thead>
      <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Building</th>
      <th>Address</th>
  </thead>
  <tbody>
  <% @shows.each do |show| -%>
      <tr>
      <td><%= show.date -%></td>
      <td><%= link_to show.name, show -%></td>
      <td><%= show.building -%></td>
      <td><%= show.address -%></td>
  <% end -%>
  </tbody>
  </table>
</div>
