<div class='row'>
  <table id='pages-list'>
    <% pages.each do |page| -%>
      <tr>
        <td><%= link_to page.name, page_path(page) -%></td>
        <td><%= page.short_content-%> <%= page.more_info_link -%></td>
        <td><%= page.created_at -%></td>
        <td><%= page.updated_at -%></td>
        <td><%= link_to 'X'.html_safe, page, :method => :delete -%></td>
      </tr>
    <% end -%>
  </table>
</div>
