<p id="notice"><%= notice %></p>

<h1><%= @lesson.name -%></h1>

<p>
  <b>Date:</b>
  <%= @lesson.date %>
</p>

<p>
  <b>Free spots:</b>
  <%= @lesson.free_spots %>
</p>

<p>
  <b>Description:</b>
  <%= @lesson.description %>
</p>


<% if admin? -%>
    <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<% end -%>
