<div class='row'>
  <div class='header'>
    <h1 class='left'>New Show<h1>
  </div>
</div>
<hr class='header-hr'></hr>

<%= form_for @art_show, :auto_labels => false do |f| -%>

  <% label_writer = HorizontalLabel.new(f) -%>
  
  <div class="row">
    <div class='small-6 columns'>
      <%= label_writer.tag(:name) do -%>
        <%= f.text_field :name, :label => false -%>
      <% end -%>
    </div>

    <div class='small-6 columns'>
      <div class='row collapse'>
        <%= label_writer.tag(:date, :label_size => '4', :field_size => '6') do -%>
          <%= f.text_field :date, :label => false -%>
        <% end -%>

        <div class='small-2 columns end'>
          <span class='postfix'>
            <i class='fi-calendar'></i>
          </span>
        </div>

      </div>
    </div>

  </div>
  
  <div class="row">
    <div class='small-6 columns '>
      <%= label_writer.tag(:building) do -%>
        <%= f.text_field :building, :label => false -%>
      <% end -%>
    </div>

    <div class='small-6 columns'>
      <div class='row'>
      <%= label_writer.tag(:address) do -%>
          <%= f.text_field :address, :label => false -%>
      <% end -%> 
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class='small-9 columns'>
      <%= f.text_area :description -%>
    </div>

    <div class='small-3 columns'>
      <div class='row'>
        <%= f.label :show_type -%>
        <div class="small-8 offset-4 columns">

            <%= f.radio_button :show_type, "Convention", :text => "Convention" -%>
            <%= f.radio_button :show_type, "Gallery", :text => "Gallery" -%>
        </div>
      </div>
    </div>
  </div>

    <div class='small-12'>
    </div>

  <div class="row">
    <%= f.submit :Create, :class => "button" -%>
  </div>
<% end -%>
