<%= form_for(user_session) do |f| %>

  <% label_writer = HorizontalLabel.new(f) -%>
  <%= render :partial => 'partials/form_errors', :locals => { :item => user_session } -%>

  <div class="row">
    <div class="small-form-container">
      <div class="row">
        <%= label_writer.tag(:username) do -%>
          <%= f.text_field :username, :class => 'small', :label => false %>
        <% end -%>
      </div>

      <div class="row">
        <%= label_writer.tag(:password) do -%>
          <%= f.password_field :password, :label => false %>
        <% end -%>
      </div>

      <div class="row">
        <%= f.submit "Login", :class => "button" %>
      </div>
    </div>
  </div>
<% end %>
