<%= form_for(user_session) do |f| %>

  <%= render :partial => 'partials/form_errors', :locals => { :item => user_session } -%>

  <div class="row">
    <div class="small-6">
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :username, :class => "inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :username %>
        </div>
      </div>
    </div>

    <div class="small-6">
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :password, :class => "inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= f.submit "Login", :class => "button" %>
  </div>
<% end %>
