<!DOCTYPE html>
<html>
<head>
  <title>ArchaicSmiles</title>
  <%= yield :css  -%>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <% if controller.checking_out? -%>
      <%= javascript_include_tag("https://js.stripe.com/v1/") %>
  <% end -%>
  <%= javascript_include_tag("application") %>
  <%= yield :javascript -%>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :og -%>
</head>
<body>

<%= render :partial => "partials/navbar", :locals => { :caller => controller.caller } -%>


<div class="container" style="margin-top:<%= admin? ? "90px" : "75px" -%>">

    <% if flash[:error] -%>
        <div class="alert alert-error" id='flash-error'><%= h flash[:error] -%></div>
    <% end -%>

    <% if flash[:config_error] -%>
        <div class="alert alert-error" id='flash-config-error'><%= h flash[:config_error] -%></div>
    <% end -%>

    <% if flash[:notice] -%>
        <div class="alert alert-info" id='flash-notice'><%= h flash[:notice] -%></div>
    <% end -%>

    <%= yield -%>
</div>

<%= render :partial => "partials/footer" -%>

</div>

</body>
</html>
