<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "ArchaicSmiles" %></title>
    <%= yield :css  -%>
    <%= stylesheet_link_tag  "application.css", :media => "all" %>
    <% if controller.checking_out? -%>
      <%= javascript_include_tag("https://js.stripe.com/v1/") %>
    <% end -%>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :og -%>

   <% if Rails.env.production? -%>
     <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-46833157-1', 'archaicsmiles.com');
        ga('send', 'pageview');
      </script> 
    <% end -%>
  </head>
  <body>

    <%= render :partial => "partials/navbar", :locals => { :caller => controller.caller } -%>

    <div class='row'>
      <% if flash[:error] -%>
        <div class="alert-box warning radius" id='flash-error' data-alert=""><%= h flash[:error] -%><a href='#' class='close'>&times;</a></div>
      <% end -%>

      <% if flash[:config_error] -%>
        <div class="alert-box warning radius" id='flash-config-error' data-alert=""><%= h flash[:config_error] -%><a href='#' class='close'>&times;</a></div>
      <% end -%>

      <% if flash[:notice] -%>
        <div class="alert-box radius" id='flash-notice' data-alert=""><%= h flash[:notice] -%><a href='#' class='close'>&times;</a></div>
      <% end -%>
    </div>

    <%= yield -%>

    <%= render :partial => "partials/footer" -%>

  </div>

  <%= javascript_include_tag("application") %>
  <%= yield :javascript -%>

  </body>
</html>
